@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .input-default {
    @apply px-5 py-2 text-lg bg-gray-100 focus:outline-none;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
  }

  .btn {
    @apply px-10 py-2 font-semibold rounded-full;
  }

  .btn-primary {
    @apply bg-gray-800 border border-gray-800 text-gray-50;
  }

  .btn-secondary {
    @apply text-gray-800 bg-transparent border border-gray-800;
  }

  .calendarContainer {
    width: auto !important;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

body {
  font-family: "Source Sans Pro", sans-serif;
}
